.container{
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100%;
}

.links-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  height: 100%;
  width: 20%;
} 

body, #root { 
  margin: 0;
  padding: 0;
}

.menu-grid{
  display: flex;
  width: 100%;
}