.eliminar {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}


.submit-form {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border: none;
}