
.my-form {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.my-form div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box; 
  }
  
 