/* Estilos generales */
.my-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-form div {
  margin-bottom: 15px; /* Espaciado entre los bloques de contenido */
}

.input-container {
  display: flex;
  align-items: center;
}

.custom-label {
  margin-right: 10px; /* Espaciado a la derecha entre el label y el input */
}

.custom-select,
.custom-input {
  padding: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Espaciado superior entre los botones y el contenido anterior */
}

.submit-form,
.cancel-form {
  padding: 10px;
  margin-right: 10px; /* Margen a la derecha entre los botones */
}