
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .grid-wrapper {
    width: 50%;
    max-width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
  }
  

  
  .my-grid {
    width: 100%;
    border-collapse: collapse;
  }
  
  .my-grid td,
  .my-grid th {
    border: 1px solid black;
    padding-left: 10px;
  }

  .title-grid {
    font-size: 40px;
    color: rgb(198, 22, 151);
    text-decoration: underline;
    font-weight: bold;
  }